body{
    background: rgb(255, 255, 255);


}   

/* para los espacios de Port folio se pueden usar medida rem para que sea responsive tb*/

nav, .background-tagline {
    margin: 0px -12px;
}

/* footer {
    margin: 5rem;
    
} */
/* .contact {
    margin: 5rem;
} */
.form {
    margin:6rem;
}
.background-tagline {
    position: relative;
    height: 700px;
    background-size: cover; 
    background-image: url('/website/assets/img/bg.jpg'); 
    color: white; 
    background-position: center;
}

