
<div class="container pt-5 pb-5" class="first-heading">
    <hr>
    <div class="row b pt-5">
        <div class="col-8">
            <div class="d-flex flex-row">
                <h2 class="text-primary-emphasis p-1 ">This first heading</h2>
            <h2 class="text-secondary  p-1">Will Cath Your Eyes</h2>
    
            </div>
            
            <p class="p-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, enim ullam. Totam tempore dolor consectetur, possimus dignissimos impedit earum, fuga nemo laudantium veniam ullam? Magnam deserunt natus doloribus eveniet sequi quisquam quis suscipit possimus inventore consectetur laborum pariatur enim veniam, vero itaque dicta. Recusandae vitae in ullam ipsa at ipsam?.</p>
        </div>
        <div class="col-4"> <img class="rounded-circle img-fluid" src="/website/assets/img/1.jpg" alt=""></div>
    </div>
    
    
    </div>