
<div class="container  pt-5 pb-5">
    <hr>
    <div class="row pt-5">
        <div class="col-4 "> <img class="rounded-circle img-fluid" src="/website/assets/img/2.jpg" alt=""></div>
        <div class="col-8 ">
            <div class="d-flex flex-row">
                <h2 class="text-primary-emphasis p-1 ">The Second Heading</h2>
            <h2 class="text-secondary p-1">Is Pretty Cool Too</h2>
    
            </div>
            
            <p  class="p-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos et nesciunt distinctio, consequuntur possimus mollitia quia illo excepturi architecto numquam natus cum accusamus ipsam. Saepe.</p>
        </div>
        
    </div>
    
    
    </div>